@import url(root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}

html{
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
}

.pay-history-container{
    padding: 30px;
}

.pay-history-header{
    margin-bottom: 30px;
}

.pay-history-header span{
    font-size: 20px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    border: 2px solid  var(--payment-border);
    border-bottom: none;
    border-radius: 8px;
}

th{
    background-color: rgb(198, 198, 198);
    border-bottom: 2px solid  var(--payment-border);
    border-bottom: 2px solid  var(--payment-border);
}

td{
    border-bottom: 2px solid  var(--payment-border);
    font-size: 16px;
}

th, td{
    padding: 8px;
    text-align: left;
}

th:first-child{
    border-radius: 6px 0px 0px 0px;
}

th:last-child{
    border-radius: 0px 6px 0px 0px;
}

tr:last-child td:first-child {
    border-radius: 0px 0px 0px 7px;
}

tr:last-child td:last-child {
    border-radius: 0px 0px 7px 0px;
}

.badge{
    padding: 5px 10px 5px 10px;
}

.site-header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.site-title {
    font-size: 24px;
    font-weight: bold;
}

.site-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
}

.site-navigation ul {
    display: flex;
    list-style: none;
    height: 5px;
}

.site-navigation ul li {
    margin-left: 20px;
}

.site-navigation ul li:first-child {
    margin-left: 0;
}

.site-navigation ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.logout-btn a{
    text-decoration: none;
    color: #fff;
}