/* styles.css */
.product-name, .product-price {
    text-decoration: none; /* Remove underline */
}

.product-box a {
    text-decoration: none; /* Remove underline from links within product boxes */
    color: #333;
}

/* Overall Layout */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure header stays on top */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

#search-input {
    display: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease; /* Smooth transition for link color */
}

nav a:hover {
    color: #ffc107; /* Change link color on hover */
}

main {
    padding: 30px 20px 30px 20px; /* Add top padding to make space for fixed header */
    margin-top: 60px; /* Add margin to prevent content from being hidden under header */
    background-color: #f4f4f4;
}

/* Product Listings */
#product-listings {
    overflow: hidden; /* Clear floats */
}

#filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 30px;
}

/* Product Boxes Container */
#product-grid {
    display: flex; /* Use flexbox for product grid */
    flex-wrap: wrap; /* Allow products to wrap to the next line */
    justify-content: flex-start; /* Start from the left */
}

/* Product Boxes */
.product-box {
    width: 300px; /* Set a fixed width for the product boxes */
    height: 400px; /* Set a fixed height for the product boxes */
    background-color: #fff; /* Add background color to product boxes */
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.3s ease; /* Smooth transition on hover */
    overflow: hidden; /* Prevent content from overflowing */
    margin-bottom: 40px; /* Add margin to create space between product boxes */
    margin-right: 27px; /* Add margin to create space between product boxes */
    margin-left: 27px; /* Add margin to create space between product boxes */
    padding: 0;
}

.product-box:hover {
    transform: translateY(-5px) scale(1.05); /* Add scale effect on hover */
}

.product-box img {
    width: 100%; /* Ensure the image fills the product box */
    height: 70%; /* Set the height of the image */
    object-fit: cover; /* Maintain aspect ratio and cover the entire box */
    display: block;
    border-bottom: 1px solid #eee; /* Add border to separate image from text */
}

.product-name, .product-price {
    padding: 10px;
    margin: 0;
}

.product-name {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 19px;
}

.product-price {
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-box-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
}

.price-fav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Category Filter Dropdown */
#category-filter {
    padding: 10px 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

#category-filter:hover {
    border-color: #007bff; /* Change border color on hover */
}

/* Buttons */
button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
    background-color: #0056b3;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    background-color: transparent; /* Transparent background */
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
    border-radius: 4px; /* Rounded corners */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Darker color on hover */
}

/* Track */
body::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
}

.favorite-button{
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    padding: 0 18px;
}

.favorite-button:hover{
    background-color: transparent;
}

.favorite-button i{
    font-size: 24px;
    color: red;
}

.moreBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 12px 24px;
    max-height: 43px;
}

.moreBtn a{
    text-decoration: none;
    color: #fff;
}